.nav-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100%;
  box-sizing: border-box;
}


.search {
  margin-bottom: 10px;
}

.list {
  flex-grow: 1;
}

.create {
  margin-top: 10px;
}
