<div class="list-item">
    <div class="menu-item dark-primary" (click)="openList(item)">{{item}}</div>

    <div *ngIf="isMainList; else subList">

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="dark-primary">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="dark-primary">
        <button mat-menu-item (click)="renameList(item)" class="dark-primary">
          <mat-icon class="dark-primary">edit</mat-icon>
          <span>Rename</span>
        </button>
        <button mat-menu-item (click)="deleteList(item)" class="dark-primary">
          <mat-icon class="dark-primary">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>

    <ng-template #subList>
      <mat-icon class="dark-primary">delete</mat-icon>
    </ng-template>
</div>
