/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-primary {
  background-color: #212121 !important;
  color: #3949AB !important
}

.medium-primary {
  background-color: #616161 !important;
}

.light-primary {
  background-color: #BDBDBD !important;
}

.dark-accent {
  background-color: #1A237E !important;
}

.medium-accent {
  background-color: #3949AB !important;
}

.light-accent {
  background-color: #7986CB !important;
}

.dark-warn {
  background-color: #B71C1C !important;
}

.medium-warn {
  background-color: #E53935 !important;
}

.light-warn {
  background-color: #E57373 !important;
}


.mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--focused) .mdc-notched-outline__trailing {
  border-color: #3949AB !important;
}

mat-label, ::placeholder{
  color: #3949AB !important;
}
